*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* font-size: 10px; 100% or 10/16 =62.5 */ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

/*############LOGO################*/
.logo_container {
  text-align: center;
  box-sizing: border-box;
  margin-top: 3.6rem; }
  @media (max-width: 75em) {
    .logo_container {
      margin-top: 2.5rem; } }
  @media (max-width: 56.25em) {
    .logo_container {
      margin-top: 2rem; } }
  @media (max-width: 37.5em) {
    .logo_container {
      margin-top: 2rem; } }
  @media (max-width: 31.25em) {
    .logo_container {
      margin-top: 1rem; } }

.logo {
  height: 29px;
  width: 87px; }

/*############COUNTDOWN TIMER################*/
.card {
  margin-top: 9.9rem;
  border-radius: 0.25rem;
  text-align: center; }
  @media (max-width: 37.5em) {
    .card {
      margin-top: 6rem; } }
  @media (max-width: 31.25em) {
    .card {
      margin-top: 4rem; } }

.card__body {
  font-size: 0;
  padding: 1.25rem; }

.card__title {
  font-size: 2rem;
  margin: 0 0 0.75rem; }
  @media (max-width: 31.25em) {
    .card__title {
      margin-bottom: 0.5rem; } }

.countdown__section {
  display: inline-block;
  margin-left: 12px;
  font-weight: bold; }
  @media (max-width: 31.25em) {
    .countdown__section {
      margin-left: 6px;
      display: inline-block; } }

.countdown__section:first-child {
  margin-left: 0; }

.countdown__section > .value {
  background-color: #eeeef0;
  border-radius: 24px;
  font-family: "inter";
  font-size: 48px;
  color: #101010;
  line-height: 100px;
  text-align: center;
  height: 96px;
  width: 96px; }

#days {
  background-color: #f6512c;
  color: #fff; }

.countdown__label {
  color: #a2a4a6;
  font-size: 10px;
  font-family: "inter";
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 12px;
  padding-top: 20px;
  text-align: center; }
  @media (max-width: 31.25em) {
    .countdown__label {
      padding-top: 1rem;
      padding-bottom: 2rem; } }

/*############SEARCH################*/
.search {
  position: absolute;
  margin-top: 13rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

input,
button {
  all: unset;
  font-family: "Roboto", sans-serif; }

/* Main CSS */
.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 57px;
  max-width: 385px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #e3e4e6; }

.search-input {
  width: 85.5%;
  height: 100%;
  margin: 0 5px 0 18px;
  background-color: transparent;
  appearance: none; }

.search-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: auto;
  height: 40px;
  min-width: 40px;
  margin: 10px 10px 10px auto;
  padding: 0 14px;
  background-color: #f6512c;
  border-radius: 16px;
  text-align: center;
  line-height: 1.2em;
  flex-shrink: 0;
  color: #fff;
  cursor: pointer; }

.search-button::before {
  content: "\f0e0";
  font-family: "FontAwesome"; }

.search-button span {
  display: inline-block;
  width: 50px;
  padding-left: 5px;
  color: #ffffff;
  font-family: "inter";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.75px;
  line-height: 15px;
  text-align: center;
  overflow: hidden;
  transition: width 0.4s ease, padding-left 0.1s ease; }

.search-button:focus {
  outline: none !important;
  box-shadow: 0 0 2px 2px #b0caf1; }

@media (min-width: 500px) {
  .search {
    font-size: 14px; }
  .search-button span {
    width: 0;
    padding-left: 0;
    transition: width 0.4s ease, padding-left 0.1s ease 0.3s; }
  .search-button:hover span,
  .search-button:focus span {
    width: 110px;
    padding-left: 5px;
    transition: width 0.4s ease, padding-left 0.1s ease; } }

.register p {
  position: absolute;
  left: 50%;
  margin-top: 6.4rem;
  transform: translate(-50%, -50%);
  height: 23px;
  width: 351px;
  color: #a2a4a6;
  font-family: "inter";
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 23px;
  text-align: center; }

.row {
  max-width: 129.8rem;
  margin-top: 6rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-6 {
    width: calc((100% - 5 * (5rem)) / 6); }

.row2 {
  max-width: 129.8rem;
  margin-top: 6rem;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .row2:not(:last-child) {
    margin-bottom: 8rem; }
  .row2::after {
    content: "";
    display: table;
    clear: both; }
  .row2 [class^="col-"] {
    float: left; }
    .row2 [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row2 .col-1-of-6 {
    width: calc((100% - 5 * (5rem)) / 6); }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute; }
    .composition__photo--word {
      right: 45rem;
      top: 4rem; }
    .composition__photo--js {
      top: -3rem;
      right: 17rem; }
    .composition__photo--ps {
      right: -6rem;
      top: -11rem; }
      @media (max-width: 75em) {
        .composition__photo--ps {
          right: -2rem;
          top: -3rem;
          width: 13rem; } }
    .composition__photo--php {
      top: 3rem;
      left: 5rem; }
    .composition__photo--sketch {
      top: -5rem;
      left: 30rem; }
    .composition__photo--css {
      top: 0rem;
      left: 51rem; }
    .composition__photo--excel {
      top: -1rem;
      right: 32rem; }
    .composition__photo--xd {
      top: 1rem;
      right: 9rem; }
    .composition__photo--figma {
      top: -1rem;
      right: -3rem; }
    .composition__photo--html {
      left: 22rem;
      top: 0rem; }
    .composition__photo--java {
      top: 0rem;
      left: 37rem; }
    .composition__photo--ps_small {
      top: 0rem;
      left: 70rem; }
